# Dependencies
node_modules/

# Build output
dist/
build/

# Environment variables
.env
.env.*
!.env.example

# Vite
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Local development
*.local

# ML generated data
ml/data/raw/*
ml/data/fragments/*
ml/features/extracted_features.csv

# Trained models
ml/saved/*.joblib

# Keep folder structure
!ml/data/raw/**/.gitkeep
!ml/data/raw/.gitkeep
!ml/data/fragments/.gitkeep
!ml/saved/.gitkeep